{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>

  <nav>
    <div class="nav-wrapper black">
      <div class="container">
        <a href="#" class="brand-logo">Bloggy</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
            <li>Hi {{ user.username }} | </li>
          {% endif%}
          <li><a href="{% url 'main' %}">Home</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'create_post' %}">Add Post</a></li>
            <li> <a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">
      {% include "blog/messages.html" %}
      {% block content %}{% endblock %}
    </div>
  </body>
  <script src="{% static "js/jquery.js" %}" charset="utf-8"></script>
  <script src="{% static "js/materialize.min.js" %}" charset="utf-8"></script>
  <script src="{% static "js/plugins.js" %}" charset="utf-8"></script>
</html>
