body {
  margin-bottom: 30px;
}
.post-details {
  border: 1px solid #eee;
  padding: 10px;
  position: relative;
}

.post-details span {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

input, textarea {
  color: #000;
}

.pagination-wrapper {
  text-align: center;
}

.pagination li.active {
  background-color: #000
}
