{% extends "base.html" %}

{% block content %}
<h1 class="center">Latest Posts</h1>
<div class="search-field">
  <form class="" action="" method="get">
      <div class="input-field">
        <input type="text" name="q" value="{{ request.GET.q }}">
        <button type="submit" name="button" class="btn">Search</button>
      </div>
  </form>
</div>
<div class="row">
  {% for post in posts_pages %}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="{{ post.image.url }}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a><i class="material-icons right">more_vert</i></span>
      </div>
    <div class="card-reveal">
      {% if user.is_authenticated %}
        {% if post.user == current_user %}
          <a href="{% url 'edit_post' post.id %}"><i class="material-icons black-text right">edit</i></a>
          <a href="{% url 'delete_post' post.id %}"  id="delete-post"><i class="material-icons black-text right">delete</i></a>
        {% endif %}
      {% endif %}
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <div class="clearfix"></div>
      <p>{{ post.content | truncatewords:25}}</p>
    </div>
  </div>
  </div>
  {% endfor %}
</div>

<div class="pagination-wrapper">
  <ul class="pagination">
    {% if  posts_pages.has_previous %}
      <li><a href="?{{ page_var }}={{ posts_pages.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for i in  posts_pages.paginator.page_range %}
      {% if posts_pages.number == i %}
          <li class="waves-effects active">
            <a href="?{{ page_var }}={{ i }}">{{ i }}</a>
          </li>
        {% else %}
          <li class="waves-effects">
            <a href="?{{ page_var }}={{ i }}">{{ i }}</a>
          </li>
      {% endif %}
    {% endfor %}

    {% if  posts_pages.has_next %}
      <li><a href="?{{ page_var }}={{ posts_pages.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
</div>

{% endblock %}
